html, body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
    background-color: gainsboro;
}

#game {
    width: 1100px;
    height: 650px;
}


#gameScreen {
    float: left;
}

#menu {
    width: 200px;
    height: 600px;
    background-color: gray;
    float: right;
}

.menuButton {
    height: 50px;
    width: 200px;
    background-color: gray;
    border: none;

    text-align: left;
    font-size: 15px;
}
.menuButton:hover {
    height: 50px;
    width: 200px;
    background-color: gainsboro;
    border: none;

    text-align: left;
    font-size: 15px;
}

#levelsMenu {
    width: 900px;
    height: 50px;
    background-color: gray;
}

.difficultyLevel {
    width: 300px;
    height: 50px;
    border: none;

    text-align: left;
    font-size: 15px;
}

#easyLevel {
    background-color: green;
}
#easyLevel:hover {
    background-color: springgreen;
}

#intermediateLevel {
    background-color: yellow;
}
#intermediateLevel:hover {
    background-color: khaki;
}

#hardLevel {
    background-color: red;
}
#hardLevel:hover {
    background-color: tomato;
}

#workerImage {
    visibility: hidden;
    display: none;
}
#boxImage {
    visibility: hidden;
    display: none;
}

#wallImage {
    visibility: hidden;
    display: none;
}
#targetImage {
    visibility: hidden;
    display: none;
}

#backgroundImage {
    visibility: hidden;
    display: none;
}