html, body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
    background-color: gainsboro;
}

strong {
    padding-left: 5px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#d_game {
    width: 1100px;
    height: 650px;
}


#c_game_screen {
    float: left;
}

#menu {
    width: 200px;
    height: 600px;
    background-color: gray;
    float: right;
}

.menu_button {
    height: 50px;
    width: 200px;
    background-color: gray;
    border: none;

    text-align: left;
    font-size: 15px;
}
.menu_button:hover {
    height: 50px;
    width: 200px;
    background-color: gainsboro;
    border: none;

    text-align: left;
    font-size: 15px;
}

#levels_menu {
    width: 900px;
    height: 50px;
    background-color: gray;
}

.difficulty_level {
    width: 300px;
    height: 50px;
    border: none;

    text-align: left;
    font-size: 15px;
}

#easy_level {
    background-color: green;
}
#easy_level:hover {
    background-color: springgreen;
}

#intermediate_level {
    background-color: yellow;
}
#intermediate_level:hover {
    background-color: khaki;
}

#hard_level {
    background-color: red;
}
#hard_level:hover {
    background-color: tomato;
}

#levels_mode {
    width: 900px;
    height: 50px;
    display: none;
}

#worker_image {
    visibility: hidden;
    display: none;
}
#box_image {
    visibility: hidden;
    display: none;
}

#wall_image {
    visibility: hidden;
    display: none;
}
#target_image {
    visibility: hidden;
    display: none;
}

#background_image {
    visibility: hidden;
    display: none;
}